@model PhoneBookRecord
@inject UserRoles UserRoles
<h2>PhoneBookRecord</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>LastName</th>
            <th>FirstName</th>
            <th>FathresName</th>
            <th>PhoneNumber</th>
            <th>Address</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.LastName</td>
            <td>@Model.FirstName</td>
            <td>@Model.FathersName</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.Address</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
    @if (UserRoles.Roles.Contains("Admin"))
    {
        <a class="btn btn-primary" asp-controller="EditRecord" asp-action="EditRecord" asp-route-id="@Model.Id">Редактировать</a>
        <a class="btn btn-primary" asp-controller="DeleteRecord" asp-action="DeleteRecord" asp-route-id="@Model.Id">Удалить</a>
    }
</div>
